h1 {
  font-family: "Oswald&display", sans-serif;
 }
 body {
   margin: 0;
   border: dashed 1px red;
  }

 .wrapper {
   margin:auto;
   width: 80%;
   border: dashed 1px red;
 }

 .logo, .menu {
   display: inline-block;
   border: dashed 1px red;
 }
